.moving-text-background {
  position: fixed;
  inset: -50%;
  overflow: hidden;
  pointer-events: none;
  z-index: -20;
  transform: rotate(30deg);
}

@media (max-width: 640px) {
  .moving-text-background {
    display: none;
  }
}

.moving-row {
  position: absolute; /**/
  white-space: nowrap; /**/
  display: flex; /**/
  will-change: transform; /**/
  animation: scroll-left linear infinite; /**/
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.06;
  color: white;
}

.scroll-track {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
  color: black;
}

/* Seamless loop */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    /* transform: translateX(calc(-1 * var(--scroll-width))); */
    transform: translateX(-50%);
  }
}
